@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {

    /*Primary*/

    --color-purple: hsl(259, 100%, 65%);
    --color-dark-purple: hsl(259, 71%, 47%);
    --color-light-red: hsl(0, 100%, 67%);

    /*Segundary*/

    --color-white: hsl(0, 0%, 100%);
    --color-off-white: hsl(0, 0%, 94%);
    --color-light-grey: hsl(0, 0%, 86%);
    --color-smokey-grey: hsl(0, 1%, 44%);
    --color-off-black: hsl(0, 0%, 8%);

}

/*
  font-family: "Poppins", sans-serif;
*/

.error {
    display: none;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Poppins", sans-serif;
    background: var(--color-off-white);
    color: var(--color-off-black);
}

.container {
    width: 100%;
    max-width: 50rem;
    min-width: 20rem;
    margin: 0 1rem;
    padding: 3rem;
    border-radius: 1.5rem 1.5rem 8rem;
    background: var(--color-white);
}

.container-inputs {
    display: flex;
    gap: 2rem;
    color: var(--color-smokey-grey);
    border-bottom: 0.1rem solid var(--color-light-grey);
    position: relative;
}


.container-inputs .form{
    margin-bottom: 2.5rem;
}

.container-inputs label{
    display: block;

    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
}

.container-inputs input {
    width: 100%;
    max-width: 10rem;
    min-width: 5rem;
    
    font-size: 2rem;
    font-weight: 800;
    
    border: 1px solid var(--color-light-grey);
    border-radius: 0.5rem;
    outline: none;
    padding: 1rem;
    margin: 0.5rem 0;
}

.container-inputs input::placeholder {
    color: var(--color-smokey-grey);
}

.container-inputs input:focus {
    outline: 0.1rem solid var(--color-smokey-grey);
}

.container-inputs .msg-error {
    font-size: 0.9rem;
}

.btn-img{
    width: 3rem;
    height: 3rem;
    padding: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50%;
    background: var(--color-purple);
    position: absolute;
    bottom: -2.5rem;
    right: 0;
    cursor: pointer;
}

.btn-img img {
    width: 2.5rem;
}

.btn-img:hover {
    background: var(--color-dark-purple);
}

.resultados {
    margin: 4rem 0 2rem;
}

.resultados p{
    font-weight: 800;
    font-style: italic;
    font-size: 6.4rem;
    margin: -2.5rem 0;
}

.resultados span {
    color: var(--color-purple);
}

@media (max-width: 445px) {
    .container-inputs .form{
        margin-bottom: 5rem;
    }

    .container-inputs label {
        font-size: 1rem;
    }

    .container-inputs .msg-error {
        font-size: 0.7rem;
    }


    .btn-img {
        margin: 0 auto;
        bottom: -2.5rem;
        right: 0;
        left: 0;
    }
}

@media (max-width: 395px) {

    .container-inputs .msg-error {
        font-size: 0.7rem;
    }

    .resultados p {
        font-size: 5.5rem;
    }
}

@media (max-width: 355px) {

    .container-inputs .msg-error {
        font-size: 0.6rem;
    }

    .resultados p {
        font-size: 5rem;
    }
}

@media (max-width: 350px) {

    .container-inputs .msg-error {
        font-size: 0.5rem;
    }

    .resultados p {
        font-size: 4.5rem;
    }
}